build/*
Build/*
*/build/*
*/Build/*
git_templates/*
DerivedData/*
*.pbxuser
*.mode1v3
*.DS_Store
*.swp
*.xcuserdata*
./git/*
*.xcscmblueprint

.gitattributes
*xcuserdata*
*xcshareddata*
*.pyc
rev.h
#Other
*.xccheckout
*.moved-aside
*.xcuserstate
revision.h
#Podfile.lock
/Carthage/*
PBBuild/*
idl/*
.idea/*
# Pods
#
Pods/*